/* Whole document: */
h1{font-weight: bold;
  font-family: Helvetica;
}
body{
  font-family: Helvetica;
  font-size: 12pt;
}

.isDisabled {
  color: currentColor;
  text-decoration: none;
  pointer-events: none;
}
